:root {
  --default-color: slategrey;
  --primary-color: blue;
  --primary-font-color: white;
  --secondary-color: hotpink;
}
body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: hsl(240 50% 95%);
}

section {
  max-width: min(600px, 100% - 2rem);
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
pre {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  color: #fdfdfd;
  background: hsl(240deg 20% 10%);
  width: fit-content;
}
